/* home.css */

/* * {
    font-family: 'Kanit', sans-serif;
}

body {
    background: url('../IMG/bg.png');
    background-size: cover;
}

.container-fluid {
    position: relative;
    width: 100%;
    height: 100%;
}

.header-area {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header {
    width: 94%;
    height: 140px;
    position: relative;
    background-color: rgb(254, 254, 254, 70%);
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
    font-size: 30px;
}

.logo-img {
    position: absolute;
    top: 6px;
    left: 25px;
    width: 110px;
}

.logo-word {
    position: absolute;
    top: 30px;
    left: 175px;
    width: 130px;
}

.line {
    position: absolute;
    top: 20px;
    left: 330px;
    border-left: 3px solid rgb(253 165 39);
    height: 100px;
}

.nav {
    position: absolute;
    top: 30px;
}

.nav:link, .nav:visited {
    color: black;
    text-decoration: none;
}

.nav:hover {
    color: rgb(136, 136, 136);
}

.logo-basket {
    position: absolute;
    top: 45px;
    right: 400px;
    width: 50px;
    filter: brightness(100);
}

.basket-bg {
    position: absolute;
    top: 35px;
    right: 170px;
    width: 310px;
    height: 70px;
    border-radius: 35px;
    background-color: rgb(241 72 34);
}

.basket-num {
    position: absolute;
    top: 25px;
    right: 455px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: rgb(253 165 39);
    text-align: center;
}

.logo-user {
    position: absolute;
    top: 40px;
    right: 70px;
    width: 60px;
} */
